.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 93vh;
}

.content {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 1px 2px #0003;
  background-color: white;
  max-width: 350px;
  padding: 20px;
  border-radius: 5px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.labelerror {
  font-size: 14px;
  color: red;
}

@media (max-width: 768px) {
  .content {
    padding: 15px;
  }

  .title {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px;
  }

  .title {
    font-size: 18px;
  }
}