.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 70px;

}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.videoItem {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.videoItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.videoItem h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.videoItem p {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.videoItem video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.banner {
  text-align: center;
  padding: 20px;
  background-color: #046ee5;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}