.menu {
  background-color: #046ee5;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.menuList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.menuList li {
  display: inline;
}

.menuList li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menuList li a:hover {
  background-color: #0353a4;
  border-radius: 5px;
}

.logoutItem {
  margin-left: auto;
}

.logoutButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutButton:hover {
  background-color: #0353a4;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menuList {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #046ee5;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .menuList.showMenu {
    display: flex;
  }

  .menuList li {
    display: block;
    text-align: center;
  }

  .menuList li a {
    display: block;
    padding: 10px;
  }

  .logoutItem {
    margin-left: 0;
  }
}