.menu {
  background-color: #046ee5;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover {
  background-color: #0353a4;
  border-radius: 5px;
}